*.d
*.o
*.map

*.elf
*.a
*.so*

*.nso
*.nsp
*.nro
*.nacp
*.npdm
*.dksh

*.ini
*.log
*.txt
*.bin

*.png
*.jpg
*.bin
*.rgba
*.yuv
*.log
*.diff
*.txt

**/build/
**/release/
**/debug/
**/out/
**/data/
**/misc/
**/docs/
